@{
    ViewBag.Title = "Contact";
}
<div class="container">
    
    <div class="jumbotron text-center">
        <p class="lead">Choose your desired location</p>

        <div class="container">
            <section class="main">
                <div class="wrapper-demo" style="width:0; height:0">
                    <div id="dd" class="wrapper-dropdown-3" tabindex="1">
                        <span>Dhaka</span>
                        <ul class="dropdown">
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-envelope icon-large"></i>Dhanmondi</a></li>
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-truck icon-large"></i>Gulshan</a></li>
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-plane icon-large"></i>Banani</a></li>
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-envelope icon-large"></i>Uttara</a></li>
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-envelope icon-large"></i>Malibag</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript" src="~/Content/jquery.min.js"></script>
        <script type="text/javascript">

			  function DropDown(el) {
				this.dd = el;
				this.placeholder = this.dd.children('span');
				this.opts = this.dd.find('ul.dropdown > li');
				this.val = '';
				this.index = -1;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						return false;
					});

					obj.opts.on('click',function(){
						var opt = $(this);
						obj.val = opt.text();
						obj.index = opt.index();
						obj.placeholder.text(obj.val);
					});
				},
				getValue : function() {
					return this.val;
				},
				getIndex : function() {
					return this.index;
				}
			}
      $(function() {

				var dd = new DropDown( $('#dd') );
        $(document).click(function() {
				$('.wrapper-dropdown-3').removeClass('active');
				});
      	});
        </script>

        <div class="container">
            <section class="main">
                <div class="wrapper-demo" style=" width: 0px; 
                                                  height: 0px; 
                                                  padding-top: -50;
                                                  padding-left: 210px; 
                                                  padding-bottom: 0px;
                                                  border-bottom-width: 50px;
                                                  border-top-width: -50;
                                                  margin-top: 0px;
                                                  margin-bottom: 185px;">
                    <div id="ee" class="wrapper-dropdown-3" tabindex="1">
                        <span>Bogra</span>
                        <ul class="dropdown">
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-envelope icon-large"></i>Bogra Sadar</a></li>
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-envelope icon-large"></i>Gabtoli</a></li>
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-truck icon-large"></i>Banani</a></li>
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-plane icon-large"></i>Sherpur</a></li>
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-envelope icon-large"></i>Sharia Kandi</a></li>
                            <li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-envelope icon-large"></i>Dhunot</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript" src="~/Content/jquery.min.js"></script>
        <script type="text/javascript">

			  function DropDown(el) {
				this.ee = el;
				this.placeholder = this.ee.children('span');
				this.opts = this.ee.find('ul.dropdown > li');
				this.val = '';
				this.index = -1;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.ee.on('click', function(event){
						$(this).toggleClass('active');
						return false;
					});

					obj.opts.on('click',function(){
						var opt = $(this);
						obj.val = opt.text();
						obj.index = opt.index();
						obj.placeholder.text(obj.val);
					});
				},
				getValue : function() {
					return this.val;
				},
				getIndex : function() {
					return this.index;
				}
			}
      $(function() {

				var ee = new DropDown( $('#ee') );
        $(document).click(function() {
				$('.wrapper-dropdown-3').removeClass('active');
				});
      	});
        </script>

        @*<p><a href="http://jominder.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
    </div>
</div>