@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1>Jominder.com</h1>
        <p class="lead">An app where developers and landowners find their path</p>
        <div>
            <a class="btn btn-primary btn-large" href="/Account/Login">Continue as Developer</a> &nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-large" href="/Developer/index">Continue as Land Owner</a>
        </div>
    </div>
</div>

